.orderConfirmation{
    border-radius: 5vh;
    padding: 2vh 2vw;
    position: fixed;
    z-index: 1;
    top: 20vh;
    left:25vw;
    width: 50vw;
    height: 40vh;
    background-color: #909090;
    @media (max-width: 768px){
        width: 80vw;
        left: 10vw;
      }
}
.buttonOrderConfirmation{
    height: 3vh;
    float: right;
    p{
        font-size: 3vh;
        color: black;
        
    }
}