.cartSummary{
    display: flex;
    justify-content:end;
    font-size: 3vh;
    margin: 1vh 7vh;
    text-align: center;
    align-items: center;
    h2{
        margin-right: 2vw;
    }
    .buttonCartSummary{
        height: 70%;

    }
}
