.footerWrapper {
  @media (max-width: 768px) {
    flex-direction: column;
 p{
   padding: 2vh;
   font-size: 2.5vh;
 }
  }
  font-size: 2vh;
  min-height: 100px;
  width: 100%;
  padding: 2vw 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    max-height: 100px;
  }
}
footer {

  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d4cab8;
  color: black;
  p {
    text-align: center;
  }
}
